Easy/* linguist-documentation=false
Medium/* linguist-documentation=false
Hard/* linguist-documentation=false
Easy/* linguist-vendored=false
Medium/* linguist-vendored=false
Hard/* linguist-vendored=fals

